{% extends "grebe/layout.html" %}

{% block body %}
<div class="well">
Here's a sample from our live dataset with filtered fields <a class="btn btn-info btn-xs" href="{{ base_url }}/grebe/api/demo/json">View JSON Format</a> The full list of fields &amp; options is in the documentation <a class="btn btn-info btn-xs" href="{{ base_url }}/static/api_docs.pdf" target="_blank">View API Docs</a>
<br /><br />The registered version lets you see a lot more data. Researchers can <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#104;&#119;&#115;&#097;&#109;&#117;&#101;&#108;&#064;&#117;&#097;&#108;&#098;&#101;&#114;&#116;&#097;&#046;&#099;&#097;">contact us</a> from your academic institution's email to apply for full access.
</div>

{% if tweets %}
<table class="small table table-hover">
    <thead>
    <tr>
        <th>Tweet</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Date</th>
        <th>Location</th>
    </tr>
    </thead>
    <tbody>
    {% for tweet in tweets %}
    <tr>
        <td style="word-wrap:break-word;overflow:hidden;max-width:500px;">{{ tweet[0] }}</td>
        <td>{{ tweet[1] }}</td>
        <td>{{ tweet[2] }}</td>
        <td>{{ tweet[3] }}</td>
        <td>{{ tweet[4] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="well">No tweets aggregated or internal server error, please check back later</div>
{% endif %}
{% endblock %}