*.pyc
archive/
.settings/
.project
.pydevproject
.cache/*
etc/*
crontab.txt
gcache.sh
wsgi.py
templates/cardea/*
templates/index.html
binclay.py
ConTextConv.py
deletedups.py
static/css/bootstrap-multiselect.css
static/js/bootstrap-multiselect.js
templates/autofaq/
templates/deepdup/
templates/ironmask/
templates/medfact/
templates/pubmedreco/
exports/*
.ftpconfig
