{% extends "grebe/layout.html" %}

{% block body %}
<h4>Authors and Affiliations</h4>
<p>
The Grebe Social Media Aggregator is developed by <a target="_blank" href="http://www.hwsamuel.com">Hamman Samuel</a>, PhD Candidate at the <a target="_blank" href="http://cs.ualberta.ca/">Department of Computing Science</a>, <a target="_blank" href="http://www.ualberta.ca/">University of Alberta</a>, under the supervision of <a target="_blank" href="http://webdocs.cs.ualberta.ca/~zaiane/">Dr. Osmar Zaiane</a>, Scientific Director of the <a target="_blank" href="http://www.amii.ca">Alberta Machine Intelligence Institute</a>, Amii.
</p>

<h4>On-going Development</h4>
<p>
Currently, Grebe aggregates geo-fenced Twitter data from provinces in Canada, including Alberta, British Columbia, Saskatchewan, and Manitoba. We have a repository of over 2.5 million tweets (and counting) since July 2016. We are continuously expanding our platform to support new features, as well as aggregating social data from other provinces in Canada and other social data platforms such as Facebook, Instagram, and Snapchat.
</p>

<h4>Publications</h4>
<p>
Hamman Samuel, Osmar Zaïane, Patricia Martz. <strong><a target="_blank" href="http://www.hwsamuel.com/assets/downloads/bhi2017-2.pdf">Supporting Digital Epidemiology in Alberta via Twitter Tracking</a></strong>. Presented at the <em><a target="_blank" href="http://bhi.embs.org/2017/">IEEE-EMBS International Conference on Biomedical and Health Informatics</a></em> (BHI). Orlando, Florida, USA, Feb. 2017.
</p>

<h4>Fun Facts</h4>
<p>
Grebe was initiated in July 2016 with focus on aggregating tweets from the province of Alberta. The name Grebe is taken from the <a target="_blank" href="https://www.ealt.ca/species-spotlight-list/horned-grebe">horned grebe</a>, a native Albertan bird.
</p>
{% endblock %}