<!DOCTYPE html>
<head>
	<title>Grebe - Alberta Online Social Chatter Monitor</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jumbotron.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-tagsinput/bootstrap-tagsinput.css') }}">
	
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dygraph-combined-dev.js') }}"></script>
		
	{% block head %}{% endblock %}
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="container">
			<div class="row">
	          	<div class="col-xs-5" id="banner">
	          		<a id="logo" class="navbar-brand" href="{{ url_for('graph') }}"><img src="{{ url_for('static', filename='img/grebe.png') }}" /> <b>Grebe</b></a>
	          		<span id="slogan" class="text-muted navbar-brand">Alberta Online Social Chatter Monitor</span>
	          	</div>
	          	<div class="col-xs-7">
			        <form method="post" id="filter_form" action="{{ url_for('graph') }}">
						<input placeholder="Keywords here" id="filter_words" name="filter_words" type="text" value="{{ header }}" data-role="tagsinput" />
						<div id="submit_buttons">
							<button class="btn btn-xs {% if active == 'graph' %}btn-primary{% endif %}" id="graph_submit" name="graph_submit" type="submit">Graph</button>
							<button class="btn btn-xs {% if active == 'timemap' %}btn-primary{% endif %}" id="timemap_submit" name="timemap_submit" type="submit">TimeMap</button>
							<button class="btn btn-xs {% if active == 'wordcloud' %}btn-primary{% endif %}" id="wordcloud_submit" name="wordcloud_submit" type="submit">Word Cloud</button>
							<button class="btn btn-xs {% if active == 'api' %}btn-primary{% endif %}" id="api_submit" name="api_submit" type="submit">API</button>
						</div>
					</form>  	
	          	</div>
			</div>
		</div>
	</div>
	
	<p>&nbsp;</p>
	
	<div class="container">
		
	</div>
	
	<div class="container">
		<noscript>
		    <div class="alert alert-danger">
		        This website will <b>not</b> function properly without JavaScript. Please enable JavaScript to continue.
		    </div>
	    </noscript>
  		
  		{% with flashes = get_flashed_messages(with_categories=true) %}
    		{% if flashes %}
  				{% for category, message in flashes %}
        			<div class="alert alert-{{ category }}">
        				<a href="#" class="close" data-dismiss="alert">&times;</a>
  						{{ message }}
        			</div>
      			{% endfor %}
  			{% endif %}
  		{% endwith %}
  		
  		<div class="row" id="main-content">
  	        <div class="col-xs-12">{% block body %}{% endblock %}</div>
  	    </div>
  		
  		<hr>
		<footer>
        	<p>&copy; 2015 <a target="_blank" href="http://www.hwsamuel.com">Hamman W. Samuel</a>, <a target="_blank" href="http://webdocs.cs.ualberta.ca/~zaiane/">Osmar R. Zaïane</a>, <a target="_blank" href="http://www.aicml.ca">Alberta Innovates Center for Machine Learning (AICML)</a></p>
      	</footer>
  	</div>  

	<script type="text/javascript">
		var form = document.getElementById("filter_form");
		$('#graph_submit').click(function(){
			form.action = "{{ url_for('graph') }}";
		    form.submit();
		});
		$('#timemap_submit').click(function(){
			form.action = "{{ url_for('timemap') }}";
		    form.submit();
		});
		$('#api_submit').click(function(){
			form.action = "{{ url_for('api') }}";
		    form.submit();
		});
		$('#wordcloud_submit').click(function(){
			form.action = "{{ url_for('wordcloud') }}";
		    form.submit();
		});
	</script>
</body>
