{% extends "layout.html" %}

{% block head %}
	<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='timemap/lib/mxn/mxn.js') }}?(openlayers)"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='timemap/lib/timeline-1.2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='timemap/src/timemap.js') }}"></script>
	
	<style type="text/css">
	.olFramedCloudPopupContent { 
		width: 200px; 
	}
	#timemap {
		padding: 1em;
	}
	#timelinecontainer{
		width: 700px;
		height: 100px;
		border: 1px solid #CCC;
		border-bottom: 2px solid #AAA;
	}
	#timeline{
		width: 100%;
		height: 100%;
		font-size: 14px;
		background: #EEE;
	}
	#mapcontainer {
		border: 1px solid #CCC;
		width: 700px;
		height: 300px;
	}
	#map {
		width: 100%;
		height: 100%;
		background: #EEEEEE;
	}
	</style>
	
	<script type="text/javascript">
	var tm;
	$(function() {	
		tm = TimeMap.init({
	        mapId: "map",               // Id of map div element (required)
	        timelineId: "timeline",     // Id of timeline div element (required)
	        options: {
	            eventIconPath: "{{ url_for('static', filename='timemap/images/') }}"
	        },
	        datasets: 
        	[{
                type: "basic",
                options: {
                    items: [
						{% for tweet in tweets %}
    					{
	                    	"start" : "{{ tweet.created_at }}",
	                      	"point" : {
	                        	"lat" : {{ tweet.coordinates.coordinates[1] }},
	                          	"lon" : {{ tweet.coordinates.coordinates[0] }}
	                       	},
	                      	"title" : "{{ tweet.word }}",
	                      	"options" : {
	                        	"infoHtml": "<div>{{ tweet.text | strip }}</div>",
	                        	"theme": "{{ tweet.theme }}"
	                      	}
	                    },
                    	{% endfor %}
                    ]
                }
            }],
            bandInfo: [ 
	            { 
	               width: "100%", 
	               intervalUnit: Timeline.DateTime.DAY,
	               intervalPixels: 210 
	            } 
            ], 
	    });
	});
    </script>
{% endblock %}

{% block body %}
<br />
<div id="timemap">
    <div id="timelinecontainer">
      <div id="timeline" style="overflow-x:hidden; overflow-y:scroll;"></div>
    </div>
    <div id="mapcontainer">
      <div id="map"></div>
    </div>
    <br />
    <span class="text-muted">KEY</span> 
    {% for theme in themes %}
   		<small class="btn btn-xs" style="font-weight: bold; padding: 5px; background: {{ theme[1] }}">{{ theme[0] }}</small>
    {% endfor %}
    <br />
    <span class="small text-warning">{{ unmappable }} tweets unmappable</span>
    <br />
    <span class="small text-warning">{{ tweets | length }} tweets mapped</span>
</div>
{% endblock %}